<!DOCTYPE html>
<html lang="en">
  <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.4/socket.io.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/addons/p5.sound.min.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
    <meta charset="utf-8" />

  </head>
  <body  style="overflow:hidden;margin:0;padding:0">
    <main>
    </main>
    <script src="js/playback.js"></script>
  </body>
</html>
